body{
    background-color: darkgreen;
}
#header.col{
    align-content: center;
}
.container{
    background-color: rgba(220,220,220,20);
}
.col{
    padding: 10px;
    margin: 5px;
    border-radius: 5%;
    border-style: solid;
}

.col .containD{
    background-color: darkgreen;
}

#weatherHeader{
    font-size: large;
    border-top: dotted;
    border-bottom: dotted;
}
